@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body{
    font-family: 'Jost', Arial, Helvetica, sans-serif;
    color: #f8f8f8;
    background-color: #292929;

    background-image: url('bg\ image.png');

    &::-webkit-scrollbar{
        background-color: #29292900;
        width:.75rem;
    }

    &::-webkit-scrollbar-thumb{
        background-color: #585858;
        border-radius: 2rem;
    }
}

main{
    width:90%;
    display:block;
    margin-inline:auto;

    padding-inline:1rem;
    scrollbar-gutter: stable;
}

details div{
    display:block;

    margin-block:1rem;
    padding:.25rem 1rem;
    border-radius: .5rem;
}

summary{
    cursor:pointer;
}

details{
    margin-block:1rem;
    display:flex;
    align-items: center;
    justify-content: center;
    width:100%;

    margin-inline:auto;

    grid-auto-flow: row;
    
    padding:1rem;
    border-radius:.5rem;

    &.blue{
        background-color: #81bcdb8c;

        & div{
            background-color: #344c5941;
            outline: 2px solid #1b282e62 !important;
        }
    }

    &.red{
        background-color: #b33d3b8c; 

        & div{
            background-color: #3f100f41;
                                
            outline: 2px solid #2a0b0a62 !important;
        }
    }

    &.green{
        background-color: #6e9e758c; 

        & div{
            background-color: #2c3f2f41;
            outline: 2px solid #18221a62 !important;
        }
    }

    &.black{
        background-color: #b8e1e58c; 

        & a{
            text-decoration: none;
            color: #333;
        }
    }
}

.link{

    transition: .3s linear;
    background-color: #292929;
    color:#f8f8f8;

    & .link-icon{
        position: absolute;
        transform: rotate(-45deg);
        font-size:1.25rem;
        text-decoration-color: #f8f8f8;
    }

    & .link-text{
        margin-left:2.5rem;
        text-decoration-color: #f8f8f8;
    }

    &:hover{
        background-color: #1b282e62;
    }
}

.download{
    transform:rotate(0deg) !important;
}

a{
    text-decoration: none;
}
