@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;800&family=Lobster+Two:wght@400;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font:inherit;
}

:root{
    --clr-primary: #333;
    --clr-secondary: #fffced;
    --clr-secondary-light: #fffced2a;
    --clr-blue-bg: #9ed2f5;
    --clr-blue-bg-lght: #dbf1ff;
    --clr-blue-bg-dark: #5984a1;
    --clr-error: #e63946;
 
    --fs-primary: 2.75rem;
    --fs-secondary: 1.5rem;
    --fs-tertiary: 0.9rem;

    --fw-primary: 700;
    --fw-secondary: 600;

    --ff-sans-serif: "Jost", sans-serif;
    --ff-script: "Lobster Two";
}

html, body{
    font-size: 1.125rem;
}

.sans-serif{
    font-family: var(--ff-sans-serif);
}

.script{
    font-family: var(--ff-script);
}

.primary-heading{
    font-size: var(--fs-primary);
    font-weight: var(--fw-primary);

    color: var(--clr-primary);
}

.secondary-heading{
    font-size: var(--fs-secondary);
    font-weight: var(--fw-primary);

    color: var(--clr-primary);
}

.tertiary-heading{
    font-size: var(--fs-tertiary);
    font-weight: var(--fw-primary);

    color: var(--clr-primary);
}


.external-link{
    background: 0;
    color: var(--clr-primary);

    padding:0.5rem 1rem;
    text-decoration: none;

    border:2px solid var(--clr-primary);
    border-radius:2rem;

    transition: .15s linear;

    &:hover{
        background-color: var(--clr-primary);
        color: var(--clr-secondary);
    }
}

.toast{
    background-color: var(--clr-error);
    color: var(--clr-primary);
    max-width:80%;

    position: absolute;
    right: 1rem;
    bottom:1rem;

    gap:1rem;
    padding:1rem;

    display:flex;
}

.hidden{
    display:none;
}

.no-decoration{
    text-decoration: none;

    &:hover{
        text-decoration: underline;
    }
}

.download{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    gap:0.5rem;

    font-size:1.125rem;

    height:1.125rem;

    padding:1rem;

    background-color: var(--clr-blue-bg-lght);
    outline:0px solid var(--clr-blue-bg-lght);
    border-radius:2rem;

    cursor: pointer;

    color: var(--clr-primary);
    transition: .15s ease-in-out;

    &:hover{
        animation: pop .15s cubic-bezier(0.1, -0.6, 0.2, 0);
    }
}

@keyframes pop {

    0%{
        outline:0 solid var(--clr-blue-bg-lght);
    }

    10%{
        outline:5px solid var(--clr-blue-bg-lght);
    }

    100%{
        outline:0 solid var(--clr-blue-bg-lght);
    }
}